.shiny-line{
    background: var(--shinyColor);
    height: 100px;
    width: 10px;
    
}

main{
    max-height: 88%;
    height: 100%;
}



.education-container p  {
    margin-bottom: 0;
    
}
.education-container{
    position: relative;
    border-top: var(--shinyColor) 15px solid;
    border-bottom: var(--shinyColor) 15px solid;
    border-radius: 35px;
}


.education-container::before{
    content: "";
    padding: 15px 15px;
    background: var(--shinyColor);
    position: absolute;
    left: -7px;
    bottom: -23px  ;  
    z-index: 3;
    border-radius: 100%;
    animation: moveDown 5s  infinite linear ; 
    box-shadow: 0 0 30px var(--shinyColor);   
}
.education-container::after{
    content: "";
    padding: 15px 15px;
    background: var(--shinyColor);
    position: absolute;
    right: -1%;
    top: -23px  ;  
    z-index: 3;
    border-radius: 100%;
    animation: moveTop 5s  infinite linear ;
    box-shadow: 0 0 30px var(--shinyColor);   
}


@keyframes moveTop {
    0%{
        right: -1%;
    }

    50%{
        right: 99%;
    }

    100%{
        right: -1%;
    }
}


@keyframes moveDown {
    0%{
        left: -1%;
    }

    50%{
        left: 99%;
    }

    100%{
        left: -1%;
    }
}








.box{
    border: 5px var(--shinyColor) solid;
    border-radius: 70px;
    box-shadow: 0 0 10px var(--shinyColor);
    padding: 30px 25px;
    margin: 60px 30px;
    transition: ease-in-out 0.3s;
}


.box:hover{
    transform: scale(1.1);
    box-shadow: 0 0 25px var(--shinyColor);
}

.box h4{
    margin-bottom: 25px;
    border-bottom: var(--shinyColor) 2px solid;
   
}
.box h6 {
    margin-bottom: 20px;
  
}



hr{
    position: relative;
    border-top: var(--shinyColor) 15px solid;
    border-bottom: var(--shinyColor) 15px solid; 
}