html {
  scroll-behavior: smooth;
}
#root , body {
 
  background-color: #080808;
  color:var(--textColor);
  padding: 0 !important;
  margin: 0 !important;
}



/* For Menu Items */
.li-hover.active {
  border-bottom:  #00e9d8 3px solid ;
  text-decoration-line:  none;
  text-decoration: none;
  
}
.li-hover:hover {
  border-bottom:  #00e9d8 3px solid ;
  
  text-decoration-line:  none;
  text-decoration: none;
}
.li-hover{
  color : var(--textColor);
  text-decoration: none;

}

.my-name {
  transition:  0.4s ease-in-out;
}
.my-name span{
  text-shadow: 0px 0px 25px var(--shinyColor);
}
.my-name:hover{
  transform: scale(1.1);
 
}

/* My name with type animation */
.typing{
  color: var(--shinyColor);
  white-space: nowrap;
  
  animation: type steps(20) 4s infinite  ;
  border-right: white 6px solid;

}



@keyframes type {

  0%{
    width: 200px;
  }
  50%{
      width: 0px;
  }
  100%{
      width:200px;
      
  }
}


.text-shine{
  color: var(--shinyColor);
  text-shadow: 0px 0px 30px var(--shinyColor);
}

.scale-shine{

  transition: ease-in-out 0.4s;
}
.scale-shine:hover{
  transform: scale(1.02);

  box-shadow: 0px 0px 20px var(--shinyColor);
}
.social-media-box div{
  padding: 5px 18px 10px 18px ;
  border: 1px var(--shinyColor) solid;
  color: var(--shinyColor);
}
.social-media-box div a{

  color: var(--shinyColor);
}


.social-media-box div:hover{
  
  background-color: var(--shinyColor);

  
}
.social-media-box div:hover a{
  
  color: white !important;
  
}
.hire-me{
  background: var(--shinyColor);
  border: 2px solid var(--shinyColor) !important;
}

.contact-me{
  border: 2px solid var(--shinyColor) !important;
  color: var(--shinyColor);
  background-color: black;
}

.email{
  text-shadow: 0px 0px 5px var(--shinyColor);
}

.toTop{
  background: var(--shinyColor);
  border: var(--shinyColor) 3px solid;
}

.skill-box{
  border: var(--shinyColor) 3px dashed;
  width: 500px;
  min-height: 230px !important;
  max-height: 500px !important;
  height:  auto;
  max-width: 1050px;
  border-radius: 25px;
}