
#root , body {
  width: 100%;
  height: 100vh;
  background-color: #080808;
  color:var(--textColor);

}


/* For Menu Items */
.li-hover.active {
  border-bottom:  #00e9d8 3px solid ;
   text-decoration-line:  none;
  text-decoration: none;
  
}
.li-hover:hover {
  border-bottom:  #00e9d8 3px solid ;
  
  text-decoration-line:  none;
  text-decoration: none;
}
.li-hover{
  color : var(--textColor);
  text-decoration: none;

}

.my-name {
  transition:  0.4s ease-in-out;
}
.my-name span{
  text-shadow: 0px 0px 25px var(--shinyColor);
}
.my-name:hover{
  transform: scale(1.1);
 
}

/* My name with type animation */
.typing{
  color: var(--shinyColor);
  white-space: nowrap;
  
  animation: type steps(20) 4s infinite  ;
  border-right: white 6px solid;

}

main{
  height: 500px;
}

@keyframes type {

  0%{
    width: 200px;

  }
  50%{
      width: 0px;
  }
  100%{
      width:200px;
      
  }
}


.text-shine{
  color: var(--shinyColor);
  text-shadow: 0px 0px 30px var(--shinyColor);
}